
:root {
    --bg-darkest: black;
    --bg-darker: rgb(0, 0, 80);
    --bg-dark: rgb(141, 140, 140);
    --bg-light: rgb(173, 171, 171);
    --bg-lighter: rgb(204, 200, 200);
    --bg-lightest: white;
    --bg-footer: rgb(46, 46, 189);
    --text-light-blue: rgb(30, 130, 245);
    --btn-primary: rgb(0, 66, 248);
    --btn-secondary: rgb(255, 60, 25);
    --text-darkest: black;
    --text-dark: rgb(141, 140, 140);
    --text-light: white;
}

/* #region Commons */

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}
/* #endregion Commons */

/* #region Utility */

.bg_light {
    background-color: var(--bg-light);
}

.bg_lighter {
    background-color: var(--bg-lighter);
}

.text_btn_secondary {
    color: var(--text-light-blue);
}

.bg_darker {
    background-color: var(--bg-darker);
}

.bg_footer {
    background-color: var(--bg-footer) ;
}

.btn:hover {
    box-shadow: inset 0 0 10px white, inset 0 0 10px white, inset 0 0 10px white;
}
/* #endregion Utility */

/* #region Debug */

.debug .site_header {
    height: 90px;
}

.debug .logo_sony {
    background-color: var(--bg-darkest);
    height: 40px;
}

.debug #site_navbar {
    background-color: var(--bg-light);
    height: 70px;
}

.debug .m-jumbotron {
    background-color: var(--bg-darker);
    height: 600px;
}

.debug .show1 {
    height: 120px;
    border: 1px solid white;
}

/* #endregion Debug */

/* #region Header */
/* #region Navbar */

.dropdown-toggle {
    display: flex;
    align-items: center;
}

.dropdown-toggle::after {
    border: none;
    font: var(--fa-font-solid);
    content: "\f107";
}

.dropdown-toggle.show::after {
    content: "\f106";
}

.styled {
    list-style: disc;
}

.a_unstyled {
    text-decoration: none;
    color: var(--text-dark);
}

.console:hover {
    box-shadow: 0 0 5px #888888;
}



/* #endregion Navbar */
/* #endregion Header */

/* #region Main*/

.border_radius {
    border-radius: 1.5rem;
}

.m-jumbotron {
    background-image: url("./../img/jumbo-bg.png");
    background-color: #cccccc;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.m-jumbotron .btn {
    background-color: var(--btn-secondary);
}

.card {
    border: none;
}

.m-slider .col {
    transition: 1.5s;
}

.m-slider .col:hover .border_show {
    border: 3px solid var(--text-light-blue);
}



.m-slider .col:hover .just_up {
    position: relative;
    animation-name: jump-up;
    animation-duration: 1.5s;
}

@keyframes jump-up {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 1rem;
    }

    100% {
        bottom: 0;
    }
}

.here_ps5>.no_limits {
    color: var(--text-light-blue);
}

.cp5_text>.btn {
    background-color: var(--btn-primary);
}

.show6 {
    flex-direction: column;
}

.opacity_none {
    filter: opacity(50%);
}

.slider_ps5 .col:hover .opacity_none {
    filter: none; 
}

.slider_ps5 .col:hover {
    border-bottom: 3px solid var(--text-light-blue);
}

.slider_ps5 .col:hover .text_black {
    color: var(--text-darkest);
    font-weight: 600;
}

p.text_black {
    display: none;
}
 

.itt {
    background-image: url("./../img/it-takes-two-hero-banner-desktop.jpg");
    background-color: #cccccc;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.itt h1,
.itt p {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0.2rem;
}

.itt .btn {
    background-color: var(--btn-secondary);
}

.new-releases .card {
    background-color: transparent; 
    border: none;  
}

.play_explore {
    flex-direction: column;
}

.display_none {
    display: none;
}

/* #endregion Main */

/* #region Footer */
/* #endregion Footer */

/* #region Media */

/* md */

@media screen and (min-width: 768px) {
    .playstation_plus .display_none {
        display: inline-block;
    }   
    
    .playstation_now .display_none {
        display: inline-block;
    }  

    #site_main .text_game {
        width: 40%;
    }

    p.text_black {
        display: block;
    }
}

/* lg */

@media screen and (min-width: 992px) {
   .m-social .show10>img {
       width: 200px;
   }
}






/* #endregion Media */

