
:root {
    --bg-darkest: black;
    --bg-darker: rgb(1, 1, 122);
    --bg-dark: rgb(141, 140, 140);
    --bg-light: rgb(173, 171, 171);
    --bg-lightest: white;
    --text-light-blue: rgb(30, 130, 245);
    --btn-primary: rgb(0, 66, 248);
    --btn-secondary: rgb(255, 60, 25);
    --text-darkest: black;
    --text-dark: rgb(141, 140, 140);
    --text-light: white;

}

/* #region Commons */

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}



/* #endregion Commons */

/* #region Utility */

/* #endregion Utility */

/* #region Debug */

.debug .site_header {
    height: 90px;
}

.debug .logo_sony {
    background-color: var(--bg-darkest);
    height: 40px;
}

.debug #site_navbar {
    background-color: var(--bg-light);
    height: 70px;
}

.debug .m-jumbotron {
    background-color: var(--bg-darker);
    height: 600px;
}

.debug .show1 {
    height: 120px;
    border: 1px solid white;
}

/* .debug .show2 {
    height: 200px;
    background-color: blue;
} */

/* .debug .show3 {
    height: 950px;
    background-color: brown;
} */

/* .debug .show4 {
    height: 200px;
} */

/* .debug .show5 {
    height: 400px;
} */

.debug .show6 {
   /*  height: 150px;
    background-color: chartreuse; */
    border-bottom: 3px solid var(--btn-primary); 
}

/* .debug .itt {
    height: 600px;
    background-color: red;
} */

/* .debug .new-releases {
    height: 700px;
    background-color: rgb(39, 38, 38);
} */

/* .debug .show7 {
    height: 100px;
    background-color: blueviolet;
    border: 1px solid white;
} */

.debug .play_explore {
    height: 200px;
    background-color: rgb(47, 10, 82);
}

.debug .show8 {
    height: 300px;
    background-color: coral;
    border: 1px solid white;
}

.debug .playstation_plus {
    height: 300px;
    background-color: gray;
}

.debug .discounts {
    height: 300px;
    background-color: lightgray;
}

.debug .offers {
    height: 900px;
    background-color: black;
}

.debug .show9 {
    height: 250px;
    background-color: yellow;
    border: 1px solid white;
}

.debug .playstation_now{
    height: 350px;
    background-color: blue;
}

.debug .social_follow{
    height: 250px;
    background-color: yellowgreen;
}

.debug .show10 {
    height: 150px;
    background-color: magenta;
    border: 1px solid white;
}

.debug .ps_f-section{
    height: 950px;
    background-color: rgb(44, 44, 224);
}

.debug .show11a {
    height: 150px;
    background-color: magenta;
    border: 1px solid white;
}

.debug .show11b {
    height: 600px;
    background-color: magenta;
    border: 1px solid white;
}


/* #endregion Debug */

/* #region Header */

/* #region Navbar */

.dropdown-toggle {
    display: flex;
    align-items: center;
}

.dropdown-toggle::after {
    border: none;
    font: var(--fa-font-solid);
    content: "\f107";
}

.dropdown-toggle.show::after {
    content: "\f106";
}



/* #endregion Navbar */


/* #endregion Header */

/* #region Main*/

.border_radius {
    border-radius: 2rem;
}

.m-jumbotron {
    background-image: url("./../img/jumbo-bg.png");
    background-color: #cccccc;
   /*  height: 500px; */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.m-jumbotron .btn {
    background-color: var(--btn-secondary);
}

.here_ps5>.no_limits {
    color: var(--text-light-blue);
}

.cp5_text>.btn {
    background-color: var(--btn-primary);
}

.itt {
    background-image: url("./../img/it-takes-two-hero-banner-desktop.jpg");
    background-color: #cccccc;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.itt .btn {
    background-color: var(--btn-secondary);
}

.new-releases .card {
    background-color: transparent; 
    border: none;  
}

/* #endregion Main */

/* #region Footer */
/* #endregion Footer */

